.bg-black {
  background-color: black;
}

.header-top img {
  width: 90px;
  cursor: pointer;
  padding-right: 10px;
}

.dropdown-toggle::after {
  display: none !important;
}

.jumbo {
  margin-top: 100px;
  background-image: url("../img/jumbo-bg.png");
  width: 100vw;
  height:80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.jumbo {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.jumbo img {
  width: 20%;
}

.jumbo div p {
  width: 25%;
}

.game-list img {
  border-radius: 10%;
}

.accessory-list {
}

.accessory-list img {
  width: 50%;
}

.my-vertical-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-not-active {
  opacity: 0.8;
}

.my-active {
  border-bottom: 1.5px solid rgb(0 109 198);
}

#it-takes{
  background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

/* font size personali */
.fs-7 {
  font-size: 0.9rem;
}
.fs-8 {
  font-size: 0.8rem;
}
.fs-9 {
  font-size: 0.7rem;
}
.fs-10 {
  font-size: 0.6rem;
}
.col-half-offset {
  margin-left: 3.3%;
}
